* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
}
p {
  text-align: center;
  color: lightslategray;
  font-size: 20px;
}
.both {
  display: flex;
  margin-top: 8%;
  /* background: yellow; */
  width: 90%;
  margin-left: 20%;
  justify-content: center;
}

.left {
  color: lightslategray;
  margin-left: 5%;
}
.first {
  white-space: nowrap;
  margin-top: 40%;
}
.second {
  margin-top: 40%;
  white-space: nowrap;
  margin-left: 10%;
}
.third {
  margin-top: 40%;
  white-space: nowrap;
  margin-left: 11%;
}
.fourth {
  margin-top: 40%;
  white-space: nowrap;
  margin-left: 12%;
}
.fifth {
  margin-top: 40%;
  margin-left: 13%;
  white-space: nowrap;
}
.sixth {
  margin-top: 40%;
  margin-left: 13.5%;
  white-space: nowrap;
}
.seventh {
  margin-top: 40%;
  margin-left: 14%;
  white-space: nowrap;
}
.right {
  /* background: red; */
  width: 70%;
  margin-left: 10%;
  border-left: 3px solid black;
  position: relative;
  /* background: yellow; */
}
.right1 {
  display: flex;
}
.circle1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 11%;
  right: 99%;
  border-radius: 50%;
}
.one h2 {
  font-weight: lighter;
  position: absolute;
  top: 10%;
  left: 6%;
}
.right2 {
  display: flex;
}
.circle2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 25%;
  right: 99%;
  border-radius: 50%;
}
.two h2 {
  font-weight: lighter;
  position: absolute;
  top: 24%;
  left: 6%;
}
.right3 {
  display: flex;
}
.circle3 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 39%;
  right: 99%;
  border-radius: 50%;
}
.three h2 {
  font-weight: lighter;
  position: absolute;
  top: 38%;
  left: 6%;
}
.right4 {
  display: flex;
}
.circle4 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 54%;
  right: 99%;
  border-radius: 50%;
}
.four h2 {
  font-weight: lighter;
  position: absolute;
  top: 53%;
  left: 6%;
}
.right5 {
  display: flex;
}
.circle5 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 68%;
  right: 99%;
  border-radius: 50%;
}
.five h2 {
  font-weight: lighter;
  position: absolute;
  top: 67%;
  left: 6%;
}
.right6 {
  display: flex;
}
.circle6 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 82%;
  right: 99%;
  border-radius: 50%;
}
.six h2 {
  font-weight: lighter;
  position: absolute;
  top: 81%;
  left: 6%;
}
.right7 {
  display: flex;
}
.circle7 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 97%;
  right: 99%;
  border-radius: 50%;
}
.seven h2 {
  font-weight: lighter;
  position: absolute;
  top: 95%;
  left: 6%;
}
.button {
  margin-top: 15%;
  border: none;
  background: black;
  color: white;
  padding: 15px 20px;
  font-size: 30px;
  margin-left: 33%;
  border-radius: 15px;
}
.line {
  /* background: black; */
  position: absolute;
  height: 200px;
  width: 100px;
  border-left: 2.5px solid black;
  top: 90%;
  left: -3px;
}
